{{template "header" .}}

<div class="section page header_section">
   <div class="gradient gradient_red_blue gradient_header_section"></div>
   <div class="section_container header_section_container flex_container flex_header_container">
      <div class="text header_text">
         <h1>Surf Android Topics</h1>
      </div>
      <div class="text body_text flex_item flex_header_item">
         
         <div class="form-login">
            <h2 class="header_quote">Enter the following information and surf the site!</h2>
            <form action="/login" method="post">
               <table class="table-form-login">
                  <tr>
                     <td class="center">Username</td>
                     <td class="center"><input type="text" name="username" class="input-text"></td>
                  </tr>
                  <tr>
                     <td class="center">Password</td>
                     <td class="center"><input type="password" name="password"></td>
                  </tr>
                  <tr>
                     <td colspan="2" class="center">
                        <input type="submit" value="Login">
                     </td>
                  </tr>
               </table>
            </form>
         </div>
      </div>
   </div>
</div>


{{template "footer"}}